
@{
//Layout = null;
}

@section scripts{
    
    <script>
        //var urlGet = '@Url.Action("Index", "Beneficiario", new { area = "" })';
        var urlPost = '@Url.Action("Incluir", "Beneficiario", new { area = "" })';
        var urlAlteracao = '@Url.Action("Alterar", "Beneficiario", new { area = "" })';
        var urlBeneficiarioList = '@Url.Action("BeneficiarioList", "Beneficiario", new { area = "" })';
    </script>
    @Scripts.Render("~/bundles/beneficiarios")

}

<form id="formCadastroBeneficiario" method="get">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="nome">cpf:</label>
                <input required="required" type="text" class="form-control" id="beneficiarioCpf" name="beneficiarioCpf" placeholder="ex.: 010.011.111-00" maxlength="50">
            </div>
        </div>
        <div class="col-md-6">
            <div>
                <label for="sobrenome">nome:</label>
                <input required="required" type="text" class="form-control" id="beneficiarioNome" name="beneficiarioCpfNome" placeholder="ex.: da silva" maxlength="255">
            </div>
        </div>
        <div class="col-md-2">
            <button style="margin-top: 24px; height: 32px;" type="button" id="SendBeneficiario" class="btn btn-sm btn-success">incluir</button>
        </div>
        <hr style="width: 85%;">
        @* Lista de beneficiários *@
        <table id="gridBeneficiarios" class="table"></table>
    </div>
</form>